body{
	font-family: Montserrat;
	margin: 0;
}

div#header{
	background-color: #000;
	color: #FFF;
	margin: 0;
	height: 80px;
}

h1{
	display: inline-block;
	padding: 0;
	margin: 20px;
}

div#navFactTable{
	top: 40px;
	right: 30px;
	position: absolute;
}

div#navFactTable button{
	position: relative;
	color: #000;
	text-transform: uppercase;
	font-family: Montserrat;
	border: none;
	border-radius: 8px 8px 0 0;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 5px;
	height: 40px;
	font-size: 1.2em;
	padding: 10px;
	background-color: #999;
	transition: 0.25s;
}

div#navFactTable button:hover, div#navFactTable button.active{
	background-color: #FFF;
}

div.section{
	float: left;
	margin-left: 25px;
}

div.section-options{
	width: calc(30% - 25px);
}

div.section-results{
	width: calc(70% - 50px);
}

table#tableSliceDice{
	width: 100%;
}

table#tableSliceDice td:first-child{
	width: 30px;
}

table#tableSliceDice input{
	width: 100%;
	height: 100%;
}

button#buttonApply{
	color: #FFF;
	text-transform: uppercase;
	font-family: Montserrat;
	border: none;
	border-radius: 8px;
	margin: 15px;
	font-size: 2em;
	width: calc(100% - 30px);
	background-color: #EE9088;
	transition: 0.25s;
}

button#buttonApply:hover{
	background-color: #999;
}

table#tableResults{
	border-collapse: collapse;
	text-align: left;
	font-size: 0.9em
}

table#tableResults tr{
	border-bottom: 1px gray solid;
}

table#tableResults td, table#tableResults th{
	padding: 10px;
}

input[type='checkbox']{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 12px;
}
